@model WebApplication3.ViewModels.BookAuthorGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 50px; color: antiquewhite; text-shadow: 7px 7px #000000; font-weight: bold;">Books</h1>


<form asp-controller="Books" asp-action="Index" method="get" >
<p style="font-size:17px; color:antiquewhite; font-weight:bold;">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
        <button style="border-radius: 5px; text-align: center; background-color: antiquewhite; color: saddlebrown; font-size: 17px; width: 150px; height: 40px;">
            <a asp-action="Create">Create New</a>
            </button>
        }
    Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" style="border-radius: 5px; text-align: center; background-color: antiquewhite; color: saddlebrown; font-size: 17px; width: 150px; height: 40px;" />
</p>
</form>

<div class="book-container" style="display: grid;grid-template-columns: repeat(3, 1fr); gap: 20px;">
    @foreach (var item in Model.Books)
    {
        <div class="book-card" style="border: 1px solid #ccc;border-radius: 5px;padding: 20px;background-color: antiquewhite;">
            <img class="card-img-top" src="@item.FrontPage" alt="Card image cap" style="height: 200px; width: 200px;width: 100%;height: auto;border-radius: 5px;">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 18px;margin-top: 10px;margin-bottom: 5px; align-self:center; text-align:center;">
                    @item.Title
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding: 5px 0; background-color:antiquewhite; align-self:center">
                    @if (item.AuthorId != null)
                    {
                        <a class="proba" asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorId">Author: @item.Author.FullName</a>
                    }
                </li>
                <li class="list-group-item" style="padding: 5px 0; background-color:antiquewhite; align-self:center">
                    <p>
                        Genres:
                        @if (Model != null)
                        {
                            var uniqueGenres = item.Genres
                            .Select(bg => bg.Genre)
                            .Distinct();

                            foreach (var genre in uniqueGenres)
                            {
                                <a class="proba" asp-controller="Genres" asp-action="Details" asp-route-id="@genre.GenreName" |>@genre.GenreName</a>
                            }
                        }
                    </p>
                </li>
                <li class="list-group-item" style="padding: 5px 0; background-color:antiquewhite; align-self:center">Published Year: @item.YearPublished</li>
                
            </ul>
            <div class="card-body" style="border-radius: 5px; text-align: center; background-color: antiquewhite; color: saddlebrown; font-size: 17px; width: 150px; height: 40px; border-block:medium; margin-left:100px">
                <form asp-action="Details" >
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" style="border-radius: 5px; text-align: center; background-color: antiquewhite; color: saddlebrown; font-size: 17px; width: 100px; height: 30px;">Details</button>
                </form>
                
                <form asp-action="BuyBook" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" style="border-radius: 5px; text-align: center; background-color: antiquewhite; color: saddlebrown; font-size: 17px; width: 100px; height: 30px;">Buy book</button>
                </form>
            </div>
            
        </div>
    }
</div>


